@font-face {
  font-family: "iconfont"; /* Project id 3781321 */
  src: url('//at.alicdn.com/t/c/font_3781321_ehppct9ky4.woff2?t=1668873823541') format('woff2'),
       url('//at.alicdn.com/t/c/font_3781321_ehppct9ky4.woff?t=1668873823541') format('woff'),
       url('//at.alicdn.com/t/c/font_3781321_ehppct9ky4.ttf?t=1668873823541') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 18px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-gitee:before {
  content: "\e60c";
}

